@use '../base/variables' as *;

.mud-overlay {
  display: none !important;
}

.mud-drawer {
  box-shadow: $shadow-drawer !important;
}

.mud-drawer-content {
  padding-top: 0 !important;
}

.mud-navmenu {
  padding-top: 0 !important;
}

.mud-nav-link:hover {
  background-color: rgba($primary-light, 0.12) !important;
  color: $primary-light !important;

  .mud-icon-root {
    color: $primary-light !important;
  }
}
